<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.condition.mapper.ConditionAlarmMapper">
    
    <resultMap type="ConditionAlarm" id="ConditionAlarmResult">
        <result property="alarmId"    column="alarm_id"    />
        <result property="userEquipmentRelation"    column="user_equipment_relation"    />
        <result property="isNotice"    column="is_notice"    />
        <result property="noticeClinicLocation"    column="notice_clinic_location"    />
        <result property="helpEquipmentLocation"    column="help_equipment_location"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectConditionAlarmVo">
        select alarm_id, user_equipment_relation, is_notice, notice_clinic_location, help_equipment_location, create_by, create_time, update_by, update_time, remark from condition_alarm
    </sql>

    <select id="selectConditionAlarmList" parameterType="ConditionAlarm" resultMap="ConditionAlarmResult">
        <include refid="selectConditionAlarmVo"/>
        <where>  
            <if test="isNotice != null  and isNotice != ''"> and is_notice = #{isNotice}</if>
        </where>
    </select>
    
    <select id="selectConditionAlarmByAlarmId" parameterType="Long" resultMap="ConditionAlarmResult">
        <include refid="selectConditionAlarmVo"/>
        where alarm_id = #{alarmId}
    </select>
        
    <insert id="insertConditionAlarm" parameterType="ConditionAlarm" useGeneratedKeys="true" keyProperty="alarmId">
        insert into condition_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userEquipmentRelation != null">user_equipment_relation,</if>
            <if test="isNotice != null">is_notice,</if>
            <if test="noticeClinicLocation != null">notice_clinic_location,</if>
            <if test="helpEquipmentLocation != null">help_equipment_location,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userEquipmentRelation != null">#{userEquipmentRelation},</if>
            <if test="isNotice != null">#{isNotice},</if>
            <if test="noticeClinicLocation != null">#{noticeClinicLocation},</if>
            <if test="helpEquipmentLocation != null">#{helpEquipmentLocation},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateConditionAlarm" parameterType="ConditionAlarm">
        update condition_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="userEquipmentRelation != null">user_equipment_relation = #{userEquipmentRelation},</if>
            <if test="isNotice != null">is_notice = #{isNotice},</if>
            <if test="noticeClinicLocation != null">notice_clinic_location = #{noticeClinicLocation},</if>
            <if test="helpEquipmentLocation != null">help_equipment_location = #{helpEquipmentLocation},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where alarm_id = #{alarmId}
    </update>

    <delete id="deleteConditionAlarmByAlarmId" parameterType="Long">
        delete from condition_alarm where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteConditionAlarmByAlarmIds" parameterType="String">
        delete from condition_alarm where alarm_id in 
        <foreach item="alarmId" collection="array" open="(" separator="," close=")">
            #{alarmId}
        </foreach>
    </delete>
</mapper>