<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.armarium.mapper.ArmariumUpkeepMapper">
    
    <resultMap type="ArmariumUpkeep" id="ArmariumUpkeepResult">
        <result property="upkeepId"    column="upkeep_id"    />
        <result property="upkeepLevel"    column="upkeep_level"    />
        <result property="upkeepFrequency"    column="upkeep_frequency"    />
        <result property="upkeepResult"    column="upkeep_result"    />
        <result property="upkeepTime"    column="upkeep_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectArmariumUpkeepVo">
        select upkeep_id, upkeep_level, upkeep_frequency, upkeep_result, upkeep_time, create_by, create_time, update_by, update_time, remark from armarium_upkeep
    </sql>

    <select id="selectArmariumUpkeepList" parameterType="ArmariumUpkeep" resultMap="ArmariumUpkeepResult">
        <include refid="selectArmariumUpkeepVo"/>
        <where>  
            <if test="upkeepLevel != null  and upkeepLevel != ''"> and upkeep_level = #{upkeepLevel}</if>
            <if test="upkeepFrequency != null  and upkeepFrequency != ''"> and upkeep_frequency = #{upkeepFrequency}</if>
            <if test="upkeepResult != null  and upkeepResult != ''"> and upkeep_result = #{upkeepResult}</if>
            <if test="upkeepTime != null  and upkeepTime != ''"> and upkeep_time = #{upkeepTime}</if>
        </where>
    </select>
    
    <select id="selectArmariumUpkeepByUpkeepId" parameterType="Long" resultMap="ArmariumUpkeepResult">
        <include refid="selectArmariumUpkeepVo"/>
        where upkeep_id = #{upkeepId}
    </select>
        
    <insert id="insertArmariumUpkeep" parameterType="ArmariumUpkeep" useGeneratedKeys="true" keyProperty="upkeepId">
        insert into armarium_upkeep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="upkeepLevel != null and upkeepLevel != ''">upkeep_level,</if>
            <if test="upkeepFrequency != null and upkeepFrequency != ''">upkeep_frequency,</if>
            <if test="upkeepResult != null">upkeep_result,</if>
            <if test="upkeepTime != null">upkeep_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="upkeepLevel != null and upkeepLevel != ''">#{upkeepLevel},</if>
            <if test="upkeepFrequency != null and upkeepFrequency != ''">#{upkeepFrequency},</if>
            <if test="upkeepResult != null">#{upkeepResult},</if>
            <if test="upkeepTime != null">#{upkeepTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateArmariumUpkeep" parameterType="ArmariumUpkeep">
        update armarium_upkeep
        <trim prefix="SET" suffixOverrides=",">
            <if test="upkeepLevel != null and upkeepLevel != ''">upkeep_level = #{upkeepLevel},</if>
            <if test="upkeepFrequency != null and upkeepFrequency != ''">upkeep_frequency = #{upkeepFrequency},</if>
            <if test="upkeepResult != null">upkeep_result = #{upkeepResult},</if>
            <if test="upkeepTime != null">upkeep_time = #{upkeepTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where upkeep_id = #{upkeepId}
    </update>

    <delete id="deleteArmariumUpkeepByUpkeepId" parameterType="Long">
        delete from armarium_upkeep where upkeep_id = #{upkeepId}
    </delete>

    <delete id="deleteArmariumUpkeepByUpkeepIds" parameterType="String">
        delete from armarium_upkeep where upkeep_id in 
        <foreach item="upkeepId" collection="array" open="(" separator="," close=")">
            #{upkeepId}
        </foreach>
    </delete>
</mapper>